venv/
proj1/Maurice_Leblanc_Books
proj1/data/*
proj1/test.txt
.vscode/

.venv
!proj1/data/sources.csv
__pycache__/
proj1/glove*.txt
*.npy
proj1/modelTesting
proj1/thrown_out_words.txt

proj2/data/*
!proj2/data/metadata.csv